body {
	background-image: url('../../assets/background/wgradasi.jpg');
	background-size: cover;
	
}

.container {
	width: 350px;
	height: 320px;
	margin: 100px auto;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.2);
	padding: 50px;
}

.container img {
	width: 80px;
	height: 40px
}

.container h1 {
	font-family: arial;
	font-size: 27px;
}

.container .user {
	font-family: arial;
	font-size: 17px;
	font-weight: bold;
}

.container .pass {
	font-family: arial;
	font-size: 17px;
	font-weight: bold;
}

.container p {
	font-family: arial;
	font-size: 13px;
}

.container a {
	font-family: arial;
	font-size: 13px;
	text-decoration: none;
	color: blue;
}

.kirim-daftar {
	width: 130px;
	height: 30px;
	border-radius: 3px;
	background-color: #00fa9a;
	margin-left: 220px;
	margin-top: 30px;
}

.kirim-daftar p{
	text-align: center;
	line-height: 30px;
	font-weight: bold;
	color: #000;
	border:0;
}